*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: rgb(245, 245, 245)
}
div{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background: rgb(255, 255, 255);
}
header{
    background: linear-gradient(rgba(0,0,0,0.1)), url(./images/download.jpg) no-repeat center center/cover;
    color: #fff;

}
h1{
    padding: 20px 0px 0px  40px;
}
p{
    padding: 10px 0px 40px 40px;
}